include LICENSE.txt
recursive-include aldryn_jobs/boilerplates *
recursive-include aldryn_jobs/locale *
recursive-include aldryn_jobs/migrations *
recursive-include aldryn_jobs/templates *
recursive-exclude * *.pyc
