{% extends "aldryn_jobs/base.html" %}
{% load i18n static sekizai_tags %}
{% block content_job %}
<div class="app app-jobs app-jobs-newsletter-confirmation">
    <p>
        {% blocktrans %}
        Sorry, seems that you've entered an invalid E-mail. Either it exists or
        there are some mistakes.
        {% endblocktrans %}
    </p>
    {% if resend_confirmation %}
        {% if condition == 'disabled' %}
            <p>
                {% trans "You have been unsubscribed from the newsletter. If you'd like to change your mind please click the link below." %}
            </p>
        {% elif condiion == 'not_confirmed' %}
            <p>
                {% trans 'To resend the confirmation email please click the link below.' %}
            </p>
        {% endif %}
        <p><a href="{{ resend_confirmation }}">{% trans 'Resend confirmation e-mail' context 'aldryn-jobs' %}</a></p>
    {% else %}
        <p>{% trans 'Please correct the errors and try again.' context 'aldryn-jobs' %}</p>
    {% endif %}
</div>
{% endblock %}