{% extends "aldryn_jobs/base.html" %}
{% load i18n static sekizai_tags %}
{% block content_job %}
<div class="app app-jobs app-jobs-newsletter-confirmation">
    <p>
        {% blocktrans %}
        Sorry, seems that you've entered an invalid E-mail. Either it exists or
        there are some mistakes.
        {% endblocktrans %}
    </p>
    {% if resend_confirmation %}
        {% if condition == 'disabled' %}
            <p>
                {% trans 'Seems that you did not wanted to get our newsleter anymore. If you change your mind - click on the link below.' %}
            </p>
        {% elif condiion == 'not_confirmed' %}
            <p>
                {% trans 'If you want to resend confirmation e-mail - click on the link below.' %}
            </p>
        {% endif %}
        <p><a href="{{ resend_confirmation }}">{% trans 'Resend confirmation E-mail' context 'aldryn-jobs' %}</a></p>
    {% else %}
        <p>{% trans 'Please correct mistakes and try again.' context 'aldryn-jobs' %}</p>
    {% endif %}
</div>
{% endblock %}