{% extends 'emailit/base_email.body.html' %}
{% load i18n html_filter_tags %}

{% block content %}
<p>{% blocktrans context 'aldryn-jobs' %}Here are the list of available jobs:{% endblocktrans %}</p>
<ul>
{% for object in jobs%}
    <li><a href="{{ object.link }}">{{ object.job.title}}</a></li>
{% endfor %}
</ul>
<p>{% blocktrans context 'aldryn-jobs' %}
    To unsubscribe form job newsletter please click this links and hit unsubscribe button:
    {% endblocktrans %}
</p>
<p><a href="{{ unsubscribe_link }}">{{ unsubscribe_link_full }}</a></p>
{% endblock %}
