{% extends 'emailit/base_email.body.html' %}
{% load i18n html_filter_tags %}

{% block content %}
<p>{% if full_name %}
        {% blocktrans context 'aldryn-jobs' %}Dear {{ full_name }}.{% endblocktrans %}
    {% else %}
        {% blocktrans context 'aldryn-jobs' %}Dear User.{% endblocktrans %}
    {% endif %}
</p>
<p>{% blocktrans context 'aldryn-jobs' %}Here is a the list of new and available jobs:{% endblocktrans %}</p>
<ul>
{% for object in jobs%}
    {# FIXME: if you have a doubled domain in the href - change to `object.link`. doubling is caused because of emailit #}
    <li><a href="{{ object.full_link }}">{{ object.job.title}}</a></li>
{% endfor %}
</ul>
<p>{% blocktrans context 'aldryn-jobs' %}
    To unsubscribe form job newsletter please click this links and hit unsubscribe button:
    {% endblocktrans %}
</p>
{# FIXME: if you will get a url inside of a href with doubled domain name - delete domian variable from href. #}
<p><a href="{{ domain }}{% url 'unsubscribe_from_newsletter' key=recipient.confirmation_key %}">{% trans 'Unsubscribe' context 'aldryn-jobs' %}</a></p>
{% endblock %}
